@import "../logo";
@import "../font";
@import "mixins";

// Resets
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    font-family: "Futura PT", system-ui;
    font-size: 100%;
    box-sizing: border-box;
    line-height: 1.5;
    transition: 0.3s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    margin: 0 auto;
    font-weight: normal;
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: var(--color-primary);
}

a:visited {
    color: var(--color-primary);
}

a:active {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}
