@import "../logo";
@import "../font";

// Variables
$primary: #fbffa7;
$secondary: #ff764d;
$weak-blue: #b1c5ff;
$weak-purple: #d5b3ff;
$weak-green: #b6ffc0;
$blue: #0000ff;
$black: rgb(0, 0, 0);

$base-padding: 1rem;

// Mixins
@mixin flex($dir: row, $align: start, $justify: start, $gap: 0rem) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

// Resets
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  font-family: "Futura PT", system-ui;
  font-size: 100%;
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
  color: $blue;
}

a:visited {
  color: $blue;
}

a:active {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}
