@font-face {
  font-family: 'Futura PT';
  src: url('../assets/fonts/futura-pt/FuturaCyrillicLight.woff') format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../assets/fonts/futura-pt/FuturaCyrillicBook.woff') format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../assets/fonts/futura-pt/FuturaCyrillicMedium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../assets/fonts/futura-pt/FuturaCyrillicDemi.woff') format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../assets/fonts/futura-pt/FuturaCyrillicBold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../assets/fonts/futura-pt/FuturaCyrillicHeavy.woff') format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../assets/fonts/futura-pt/FuturaCyrillicExtraBold.woff') format("woff");
  font-weight: 900;
  font-style: normal;
}