@import "config/variables";
@import "config/reset";

@import "sections/header";
@import "sections/footer";

body {
    background-color: whitesmoke;

    @include breakpoint-up("xxl") {
        font-size: $font-size-base * 1.32;
    }

    .container {
        max-width: map-get($breakpoints, "xxl");
        margin: 0 auto;
        background-color: white;
    }
}

main {
    // padding: 0 var(--spacer-8);

    .brand-image {
        @include flex($align: center, $justify: center);

        @include breakpoint-up("lg") {
            max-width: 90%;
        }

        height: 80vh;
        margin: 0 auto;
        background-image: url("/images/header.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        h1 {
            font-size: 4rem;

            @include breakpoint-up("xl") {
                font-size: 6rem;
            }

            font-weight: 500;
            color: $secondary;
        }
    }

    article {
        @include flex($gap: var(--spacer-8), $dir: column);
        padding: $base-padding * 2 0;

        @include breakpoint-up("xl") {
            gap: var(--spacer-20);
        }

        & > section {
            @include flex($gap: calc($base-padding / 2), $dir: column);

            @include breakpoint-up("xxl") {
                gap: var(--spacer-20);
            }

            width: 100%;
            margin: 0 auto;

            div.text-content {
                @include flex($dir: column, $gap: var(--spacer-4));

                max-width: var(--breakpoint-sm);
                padding: var(--spacer-4);
                margin: 0 auto;
                text-align: justify;
                text-justify: pretty;
            }

            h4 {
                font-weight: 600;
                font-size: 120%;
            }
        }
    }

    .illustration {
        position: relative;
        width: 100%;

        .container,
        .inner-container {
            @include flex($gap: var(--spacer-8), $align: center);
            gap: var(--spacer-6);
            padding: 8%;
        }

        .inner-container {
            width: 100%;
            flex-direction: column;
            padding: 0;
        }

        div.platform.box {
            position: absolute;
            width: 60%;
            top: 0;
            bottom: 0;
            right: 0;

            background-color: var(--color-accent);
        }

        @include breakpoint-up("sm") {
            .container {
                gap: var(--spacer-20);

                .inner-container {
                    gap: var(--spacer-20);
                    padding: var(--spacer-20) 0;
                }
            }
        }

        & > .container span {
            width: 100%;
            z-index: 1;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

.second.illustration {
    div.platform.box {
        left: 0;
        right: reset;
        background-color: var(--color-accent-2);
    }
}

.third.illustration {
    .container {
        padding-right: 0;
        justify-content: space-between;
    }

    div.platform.box {
        left: 0;
        margin: var(--spacer-4) auto;
        background-color: var(--color-accent-1);
    }
}

.illustration.video {
    max-width: var(--breakpoint-sm);
    margin: 0 auto;
    padding: var(--spacer-4);
}

.bottom.card {
    max-width: 1240px;
    width: 100%;
    height: auto;
    padding: var(--spacer-4);
    margin: 0 auto;

    @include breakpoint-up("md") {
        .container {
            display: grid;
            grid-template-columns: repeat(2, minmax(200px, 1fr));
            place-items: center;
            min-height: var(--breakpoint-sm);
        }

        padding: var(--spacer-14);
    }

    .container {
        background-color: var(--color-gray);
    }

    .card-image {
        width: 100%;
        min-height: 300px;
        align-self: stretch;

        background-image: url("/images/photo-8.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .card-body {
        @include flex($gap: var(--spacer-4), $dir: column);

        max-width: var(--breakpoint-sm);
        padding: var(--spacer-10);
        font-weight: 500;
        font-size: 120%;
    }
}

.links {
    width: 100%;
    @include flex($gap: 0.001618rem, $dir: column);

    &.socials {
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        a img {
            max-width: 2rem;
            height: auto;
        }
    }

    a:link {
        color: black;
    }
}
