@import "config/variables";
@import "config/reset";
@import "sections/header";
@import "sections/footer";

body {
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  & > .container {
    max-width: 100%;
  }
}

main {
  padding: 0 $base-padding * 2;

  .brand-image {
    @include flex($align: center, $justify: center);
    @media (min-width: map-get($breakpoints, "lg")) {
      max-width: 90%;
    }

    height: 80vh;
    margin: 0 auto;
    background-image: url("/images/header.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    h1 {
      font-size: 4rem;
      @media (min-width: 992px) {
        font-size: 6rem;
      }
      font-weight: 500;
      color: $secondary;
    }
  }

  article {
    @include flex($gap: 2rem, $dir: column);
    padding: $base-padding * 2 0;

    & > section {
      @include flex($gap: calc($base-padding / 2), $dir: column);
      max-width: 512px;
      margin: 0 auto;

      h4 {
        font-weight: 600;
        font-size: 1.2rem;
      }
    }
  }

  .illustration {
    .container {
      @include flex($gap: $base-padding, $align: center);
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.card {
  width: 100%;
  height: auto;
  background-color: $weak-blue;

  .card-image {
    img {
      width: 100%;
      height: auto;
    }
  }

  .card-body,
  .card-footer {
    @include flex($dir: column, $gap: 1rem);
    padding: $base-padding calc($base-padding * 2);
    font-weight: 500;
    font-size: 1.3rem;
  }

  @media (min-width: map-get($breakpoints, "md")) {
    .card-body {
      width: 80%;
      margin: 0 auto;
      padding: $base-padding * 4 $base-padding * 2;
    }
  }

  @media (min-width: map-get($breakpoints, "xl")) {
    width: 90%;
    margin: 0 auto;

    .container {
      display: flex;

      .card-image {
        width: 50%;
        align-self: stretch;

        img {
          display: block;
          max-width: 100%;
          width: max-content;
          height: 100%;
        }
      }

      .card-body {
        width: 50%;
        height: max-content;
        padding: $base-padding * 8 $base-padding * 4;
        align-self: center;
      }
    }
  }
}

.links {
  width: 100%;
  @include flex($gap: 0.001618rem, $dir: column);

  &.socials {
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    a img {
      max-width: 2rem;
      height: auto;
    }
  }

  a:link {
    color: black;
  }
}
