@import 'config';

.main.header {
  .navbar {
    @include flex($gap: 1rem, $align: center);
    padding: $base-padding;
    border-bottom: 1px solid lightgrey;
    
    button.menu-toggler {
      @include flex($gap: .25rem, $align: middle baseline);
      font-size: 1rem;
      border: none;
      background: transparent;
      
      .icon {
        margin-top: .125rem;
      }
    }
  }
  
  .tabs {
    @include flex($gap: 1rem);
    padding: $base-padding * 2 $base-padding;
    
    a.active, a:active {
      /* font-weight: 600; */
      color: $secondary;
    }
  }
}